/*-------------------------------------------*\
   variables.scss
   - font default
   - colors
   - numbers
\*-------------------------------------------*/

//===============================================
//font default
//===============================================
$DefaultFonts: serif, sans-serif, cursive, fantasy, monospace;

//===============================================
//colors
//===============================================
$color-black : #000;
$color-white : #fff;
$color-highland: #669966;
$color-william: #336666;
$color-chambray: #314489;
$color-sinbad: #99cccc;
$color-skeptic: #d0e8d9;
$color-breaker-bay : #60a6a6;
$color-periwinkle: #ccccff;
$color-alto-1: #d3d3d3;
$color-dove-gray-1 : #727272;
$color-storm-gray-1 : #767881;
$color-iron : #d1d2d4;
$color-iron-2 : #e6e7e9;
$color-red : #ff0000;
$color-neon-carrot : #ff9933;
$color-manhattan : #f7bd8d;
$color-old-gold : #cc9933;
$color-old-gold-2 : #cc9933;
$color-ecstasy : #f58220;
$color-drench-gray : #cccccd;
$color-nobel-1 : #b3b3b3;
$color-nobel-2 : #b7b7b7;
$color-mercury-1 : #e6e6e6;
$color-swamp : #001a1a;
$color-malta : #c0b1a0;
$color-gray-1 : #808080;
$color-silver-1 : #cccccc;
$color-bison-hide : #c0c0a0;
$color-highland : #669966;
$color-silver-chalice : #a1a1a1;
$color-wild-willow : #cbca7b;
$color-summer-green : #a7c0b1;
$color-bandicoot : #83836a;
$color-mist-gray : #c0c0b4;
$color-como : #50836a;
$color-turmeric : #cfb650;
$color-teak : #b69d6a;
$color-tower-gray : #9db6b6;
$color-copper-rust : #9d5050;
$color-lynch : #6a839d;
$color-strikemaster : #835083;

//===============================================
//numbers
//===============================================