header {
  .xl-header {
    z-index: 100;
    top: 30px;
    height: 58px;

    .left-logo {
      width: 59px;
      height: 57px;
      position: relative;

      img {
        position: absolute;

        top: -5px;
        bottom: -5px;
      }
    }

    .edame,
    .edame-right{
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(206, 198, 187, 0.5);
      transition: background-color ease .2s;
    }

    .container {
      .row {
        .logo {
          width: 100px;
        }

        .head-main {
          flex: 1;
          background-color: rgba(206, 198, 187, 0.5);
          transition: background-color ease .2s;

          .menu {
            ul {
              border-top: 2px solid $color-alto-1;

              li {
                a {
                  transition: all .2s ease;

                  &:hover {
                    background-color: $color-highland;
                  }
                }

                .sub-menu {
                  visibility: hidden;
                  opacity: 0;
                  transition: all .2s ease;
                  border-radius: 10px 0 10px 10px;
                  width: 150px;

                  a {
                    border-bottom: 1px solid $color-alto-1;

                    &:last-child {
                      border: none;
                    }
                  }
                }

                &:hover {
                  .sub-menu {
                    visibility: visible;
                    opacity: 1;
                  }
                }

              }
            }
          }
        }
      }
    }

    .header-fix {
      &.active {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 100;

        .edame,
        .edame-right {
          //background-color: rgb(114, 114, 114);
        }

        .container {
          .row {
            .head-main {
              //background-color: rgb(114, 114, 114);
            }
          }
        }
      }
    }
  }

  @include media-query("(max-width: 991px)") {
    height: 43px;
  }

  .menu-lg-header {
    &:hover {
      ~ {
        .menu-lg-main {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  .menu-lg-main {
    transition: all .2s ease;
    top: 100%;
    right: 0;
    left: 0;
    padding-top: 34px;
    visibility: hidden;
    opacity: 0;

    &:hover {
      opacity: 1;
      visibility: visible;
    }

    > div {
      border-radius: 0 0 17px 17px;
      overflow: hidden;

      ul {
        &.menu-lg-main-right {
          width: 256px;

          li {
            transition: all .2s ease;
            border-radius: 0 8px 8px 0;

            &:hover {
              background-color: #fff;
            }
          }
        }

        &.menu-lg-main-left {
          width: calc(100% - 256px);

          li {
            &:not(.active) {
              display: none;
            }

            .menu-lg-main-left-header {
              a {
              }
            }

            .menu-lg-main-left-items {
              max-height: 230px;
              min-height: 200px;
            }
          }
        }
      }
    }
  }

  .header-big {
    .logo {
      img {
        transition: all .5s ease;
        height: 56px;
      }
    }

    &.active-fixed {
      .logo {
        img {
          height: 45px;
        }
      }
    }
  }

  .header-big, .header-small {
    left: 0;
    right: 0;
    top: 0;
    z-index: 3;
  }

  .header-big {
    .row {
      padding: 0 14px;
    }
  }

  .menu {
    > ul {
      > li {
        &.active {
          a {
            &::before {
              content: "";
              position: absolute;
              width: 100%;
              height: 5px;
              border-radius: 10px;
              bottom: 0;
            }
          }
        }
      }
    }
  }

  .shop-icon {
    width: 50px;
    height: 40px;
    flex: 0 0 40px;
    max-width: 40px;

    .shop-item-number {
      right: -2px;
      bottom: -4px;
      height: 20px;
      min-width: 20px;

    }
  }

  .menu-small-icon {
    font-size: 30px;
  }

  .header-small {
    .logo {
      img {
        height: 40px;
      }
    }

    .search-btn {
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  .menu-items {
    z-index: 1003;
    top: 0;
    right: -300px;
    width: 300px;
    background-color: #272727;
    transition: all .5s;
    overflow-y: scroll;

    .nav-link {
      @include media-query("(max-width:1200px)") {
        padding: .5rem 0;
      }
    }

    .fas.float-left {
      top: 6px;
    }

    .close-menu > .far {
    }

    ul {
      float: right;
      width: 100%;
      padding: 15px;

      &.menu-down {
        display: none;

        li {
          @include media-query("(max-width:1200px)") {
            color: $color-white;
            padding: 0;
            font-size: 14px;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

.search-btn {
  border-radius: 0 50px 50px 0;

  a {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
}